GCP_PROJECT_ID=banking-data-platform-xxxx
GOOGLE_APPLICATION_CREDENTIALS=./secrets/gcp-sa-key.json
BQ_LOCATION=asia-southeast1
BQ_DATASET_RAW=raw
BQ_DATASET_STAGING=staging
BQ_DATASET_WAREHOUSE=warehouse
BQ_DATASET_MARTS=marts

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_TRANSACTIONS=transactions.events
KAFKA_TOPIC_DLQ=transactions.dlq

SQLITE_DB_PATH=./data/raw/banking.db
