.env
secrets/*
!secrets/.gitkeep
__pycache__/
*.pyc
.venv/
data/raw/*.csv
data/raw/*.db
!data/raw/.gitkeep
data/parquet_staging/*
!data/parquet_staging/.gitkeep
airflow/logs/
.pytest_cache/
*.egg-info/
.ruff_cache/
echo "google-cloud-sdk/" >> .gitignore
echo "exit/" >> .gitignorea.csv
data/raw/csv/*.csv
*.db
data/unused/
