pandas
numpy
pyarrow
fastparquet

sqlalchemy
psycopg2-binary

requests

python-dotenv

pydantic
pydantic-settings

apache-airflow-providers-postgres
apache-airflow-providers-http
apache-airflow-providers-common-sql

google-cloud-bigquery
google-cloud-storage
google-cloud-secret-manager
apache-airflow-providers-google

pytest
pytest-mock
pytest-cov

loguru

great-expectations

pyyaml

pendulum

duckdb